
/* Your CSS Code here. */
*{
	color:red;
	padding:0;
	margin-bottom:1rem;
	
	
}



body{
	 display: flex;
  align-items: center;
  justify-content: center;
}

form{
	margin:0 auto;
	
}

.container{
	display:flex;
	
}




